<nav class="navbar navbar-expand-lg bg-body">
    <div class="container-fluid">
      <img src="../assets/topo_topmenu.png" alt="Logo" width="50" height="54" class="d-inline-block align-text-top">
      <span class="navbar-brand">
        GTI seguimiento ATOPA</span>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Colegios
            </a>
            <ul class="dropdown-menu">
              <li *ngFor="let cole of colegioList"><a class="dropdown-item" (click)="clickColegio(cole)">{{cole}}</a></li>
            </ul>
          </li>
        </ul>
        <form class="d-flex" role="search">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
      </div>
    </div>
  </nav>
<div>
  

</div>
  